<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Scroller Demo (entire window)</title>
    <script src="http://coffeescript.org/extras/coffee-script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.js"></script>
    <script src="../scripts/ui-scroll.coffee" type="text/coffeescript"></script>
    <script src="../scripts/ui-scroll-jqlite.coffee" type="text/coffeescript"></script>
    <script src="application.coffee" type="text/coffeescript"></script>
</head>
<body>
<div style="position: fixed; left: 150px; top: 0;">
	<h2> <input type=button ng-click="update()" value="update list"/>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="../index.html"> browse sample code</a></h2>
	<h2> <input type=button ng-click="refresh()" value="refresh list"/></h2>
	<h2> <input type=button ng-click="delete()" value="delete items"/></h2>
	<h2> <input type=button ng-click="insert()" value="insert item"/></h2>
</div>
<div ng-scroll="item in datasource" >{{$index}}: *{{item}}*</div>
</body>
</html>